body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #704848;
}

.todo-container {
    background-color: rgb(215, 162, 162);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#todo-input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

#add-btn {
    padding: 10px 15px;
    border: none;
    background-color: #a72828;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

#add-btn:hover {
    background-color: #882121;
}

ul {
    
    padding: 0;
}

li {
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

li .delete-btn {
    list-style-type: none;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

li .delete-btn:hover {
    background-color: #c82333;
}

ul li .listItem{
    text-decoration: line-through;
}